## **Homework 2**

### Create a copy of the notebook to start answering the questions. Name your notebook in the format HW2_lastname_firstname.ipynb to facilitate the grading process. 

### Answer all the questions, test your code to ensure there are no errors and the results are as expected. Once you have answered all the questions, save the final copy, then go to File-> click on Download.ipynb. Once the local copy has been downloaded, submit your file on Blackboard under the corresponding assignment section. Also provide us a link to your notebook during submission. 

### **The due date of this homework is 02/12/2021 (Friday).**

### Please ensure you follow all the steps mentioned in the homework.

### All the questions have a sample input and output to help you understand the question.

### You can submit your solutions any number of times until the deadline.



```
# This is formatted as code
```

**Q1. Lets consider your data is like the below cell:**

**Q1-1**: Write a program that create a dataframe from the data.

**Q1-2:** Select people that are psychologist or teacher and their number of cars is greater than their family size.

**Q1-3:** Select people who have at most 2 family members and at least 1 car.

**Q1-4:** Write a code that get number of unique jobs in this dataset.

In [ ]:
data = {"name": ["Joseph", "Jacob", "Sam", "Jesee", "Ryan", "Lisa", "Lee"],
        "job": ["teacher", "psychologist", "data scientist", "software developer", "psychologist", "psychologist", "teacher"],
        "family_size": [3, 2, 1, 4, 2, 3, 2],
        "num_cars": [3, 1, 1, 2, 2, 4, 1]}

In [ ]:
import pandas as pd 
import numpy as np

data = {"name": ["Joseph", "Jacob", "Sam", "Jesee", "Ryan", "Lisa", "Lee"],
        "job": ["teacher", "psychologist", "data scientist", "software developer", "psychologist", "psychologist", "teacher"],
        "family_size": [3, 2, 1, 4, 2, 3, 2],
        "num_cars": [3, 1, 1, 2, 2, 4, 1]}

# Q1:
df = pd.DataFrame(data)
print(df)

#dividing for readability
print(" ")

# Q2:
print(df[((df['job'] == 'teacher')|(df['job'] == 'psychologist'))&(df['num_cars'] > df['family_size'])])

print(" ")

# Q3: 
print(df[((df['family_size'] <= 2) & (df['num_cars'] >= 1))])

print(" ")

# Q4:
uniquejob = df['job'].unique()
count = 0
for i in uniquejob:
  count += 1
print(count)

     name                 job  family_size  num_cars
0  Joseph             teacher            3         3
1   Jacob        psychologist            2         1
2     Sam      data scientist            1         1
3   Jesee  software developer            4         2
4    Ryan        psychologist            2         2
5    Lisa        psychologist            3         4
6     Lee             teacher            2         1

   name           job  family_size  num_cars
5  Lisa  psychologist            3         4

    name             job  family_size  num_cars
1  Jacob    psychologist            2         1
2    Sam  data scientist            1         1
4   Ryan    psychologist            2         2
6    Lee         teacher            2         1

4

**Q2. Lets consider you have two series like the below cell. Compute the mean of weights of each fruit.**

In [ ]:
import numpy as np
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))

In [187]:
weights.groupby(fruit).mean()

apple     6.333333
banana    5.400000
carrot    4.500000
dtype: float64

**Q3. Consider the below course_name array:**

**Q3-1**: Write a NumPy program to get the indices of the sorted elements of **course_name** array.

**Q3-2:** Write numpy code to check whether each element of **course_name** array starts with "P".

In [ ]:
import numpy as np
course_name = np.array(['Python', 'JS', 'examples', 'PHP', 'html'])

In [ ]:
import numpy as np
course_name = np.array(['Python', 'JS', 'examples', 'PHP', 'html'])

# 1
for i in course_name:
  print(i, ":", np.where(course_name == i))

# diving the two for readability 
print(" ")

# 2
starts_with_p = np.char.startswith(course_name, "P")
print(starts_with_p)

Python : (array([0]),)
JS : (array([1]),)
examples : (array([2]),)
PHP : (array([3]),)
html : (array([4]),)

[ True False False  True False]

**Q4. Consider the below student_id array:**

**Q4-1:** Reverse the **student_id** array. Print both original and reversed array.

**Q4-2:** Get the 3-largest values of **student_id** array.

In [ ]:
import numpy as np
student_id = np.array([1023, 5202, 6230, 1671, 1682, 5241, 4532])

In [180]:

import numpy as np
student_id = np.array([1023, 5202, 6230, 1671, 1682, 5241, 4532])

# 1 
print("Original:", student_id)
flipped = np.flip(student_id)
print("Reversed:", flipped)

print (" ")

# 2
print(student_id[np.argsort(student_id)[-3:]])

Original: [1023 5202 6230 1671 1682 5241 4532]
Reversed: [4532 5241 1682 1671 6230 5202 1023]

[5202 5241 6230]

# **Q5: Write a numpy program to print sum of all the multiples of 3 or 5 below 100**

In [185]:
import numpy as np
numbers = np.arange(1,100)
multiples = numbers[(numbers%3==0) | (numbers%5==0)]
print(multiples[0:100])
print("Sum:", n.sum())

[ 3  5  6  9 10 12 15 18 20 21 24 25 27 30 33 35 36 39 40 42 45 48 50 51
 54 55 57 60 63 65 66 69 70 72 75 78 80 81 84 85 87 90 93 95 96 99]
Sum: 2318

**Q6. Consider the below array.**

Q6.1. Write a code to swap column 1 with column 2.

Q6.2. Write a code to swap row 0 with row 1.

In [186]:
import numpy as np

arr = np.arange(12).reshape(3,4)
print(arr)

print(" ")
# 1
arr[:, [1, 2]] = arr[:, [2, 1]]
print(arr)

print(" ")

# 2
arr[[0, 1], :] = arr[[1, 0], :]
print(arr)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

[[ 0  2  1  3]
 [ 4  6  5  7]
 [ 8 10  9 11]]

[[ 4  6  5  7]
 [ 0  2  1  3]
 [ 8 10  9 11]]